# ============================================
# Database Configuration
# ============================================
DB_USER=postgres
DB_PASS=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=tandem_db

# ============================================
# Superadmin Configuration
# ============================================
SUPERADMIN_NAME=Аристарх
SUPERADMIN_TELEGRAM_ID=123456789
